body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/151/430/large_2x/global-currency-exchange-icon-transfer-money-stock-market-abstract-background-vector.jpg');
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.converter {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
}


.converter h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: brown;
}


label {
    font-size: 16px;
    margin-right: 8px;
    color: brown;
}

select, 
input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}


button {
    background-color: brown;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

button:hover {
    background-color: wheat;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    color: #555;
}
